/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}
/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

.userrouting {
  max-width: 1920px;
  width: 90%;
  height: 90vh;
  gap: 8px;
  margin: 0 auto;
  padding-top: 32px;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 900px) {
  .userrouting {
    display: flex;
    flex-direction: column;
  }
}
.userrouting__form {
  width: 350px;
  display: flex;
  justify-content: flex-start;
  margin-left: 8px;
}
.userrouting__input {
  width: 100%;
  padding: 12px 8px;
  border: 2px solid rgb(200, 220, 200);
  border-radius: 5px;
}
.userrouting__button {
  background-color: green;
  border: none;
  border-radius: 10px;
}
.userrouting__markers {
  pointer-events: none;
  padding: 2px;
  display: flex;
  border: 2px solid #4f4f4f;
  border-radius: 4px;
}

.draggable {
  cursor: grab;
  background-color: white;
}
.marginFix {
  margin: 2px 0 0 0;
  list-style: none;
}

.autocomplete__data {
  position: relative;
  display: inline-block;
}

.userrouting__suggestions {
  padding: 8px 8px;
  cursor: pointer;
  font-size: 0.9rem;
}

/* .userrouting__form_stylefix div:first-of-type {
  padding: 4px 12px;
  cursor: pointer;
  font-size: 0.9rem;
  border-top: none;
}

.userrouting__form_stylefix div:last-of-type {
  padding: 4px 8px;
  cursor: pointer;
  font-size: 0.9rem;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
} */
